@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  // font-family
  --outfit-font: "Outfit", sans-serif;

  // color
  --white: #fff;
  --soft-blue: #8bacd9;
  --cyan: #00fff8;
  --body-bg: #0d192c;
  --card-bg: #15263f;
  --line-color: #2e405a;
}
